body{
    max-height: 100vh;
    overflow: hidden;
    margin: 0;
}

.rootIMG{
    max-height: 100vh;
    position: relative;
    background-size: cover;
    overflow: hidden;
}

.forModal.open {
    display: flex;
}

.forReg.open {
    display: flex;
}

.map.open {
    display: flex;
}

.forModal{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background:  rgba(0, 0, 0, .5);
}

.forButton{
    width: 150px;
    height: 40px;
    background-color: rgb(236, 234, 120);
    border: 1px, solid, azure;
    color: black;
    font-size: 14px;
    border-radius: 20%;
    cursor: pointer;
}

.forButtonInput{
    display: flex;
    flex-direction: row;
    padding: 20px;
    position: absolute;
    bottom: 5%;
}

.forHeader{
    top: 10px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    position: absolute;
    z-index: 1;
}

.forH1{
    color: black;
    font-size: 30px;
    text-decoration: solid;
    text-align: center;
}

.forInput{
    width: 250px;
    font-size: 14px;
    border: 1px solid grey;
    line-height: 30px;
    color:darkslategray;
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.forReg{
    display: none;
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    border: 2px solid rgb(124, 212, 212);
    background-color: white;
    align-items: center;
    border-radius: 5px;
    position: absolute;
    left: 40%;
    top: 100px;
}

.modalClose p{
    cursor: pointer;
    position: absolute;
    right: 10px;
    font-size: 24px;
    top: -15px;
}

.close{
    display: none;
}

.map{
    display: none;
    background: url(/map.jpg);
    width: 550px;
    height: 550px;
    background-size: cover;
    left: 30%;
    top: 12%;
    position: absolute;
    cursor: pointer;
}

.message{
    font-size: 30px;
    color: darkblue;
    margin-left: 10px;
    font-weight: bold;
}

.welcome{
    width: 300px;
    height: 35px;
    font-size: 18px;
    background-color: rgb(236, 234, 120);
    color: black;
    border: 1px solid black;
    position: absolute;
    top: 5%;
    right: 10%;
    text-align: center;
    padding-top: 10px;
}

.exit{
    opacity: 0;
    width: 100px;
    height: 40px;
    background-color: rgb(236, 234, 120);
    color: black;
    font-size: 14px;
    border-radius: 20%;
    cursor: pointer;
    top: 8%;
    right: 3%;
    position: absolute;
}